agent-detector==2.0.0
detect-installer==0.2.1
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.141.1
fastapi-cli==0.0.32
fastapi-cloud-cli==0.26.0
fastar==0.12.0
httptools==0.8.0
packaging==26.3
pydantic-extra-types==2.11.1
python-multipart==0.0.32
PyYAML==6.0.3
rich-toolkit==0.20.5
rignore==0.8.1
sentry-sdk==2.69.1
setuptools==83.0.0
starlette==1.6.0
typer==0.27.2
uvicorn==0.52.4
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.1
wheel==0.47.0
